<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text"><a target="_blank" href="https://github.com/danielschleindlsperger/eli5-scraper">Source</a></p>
    <p class="navbar-text"><a href="/legal">Legal</a></p>
  </div>
</nav>
