<!-- Default home page -->
<div class="container" onload=share.addURI()>
  <%- include header.ejs %>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <section>Disclaimer: This site was created as a project purely for myself and is not used commercially.</section>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <section>
            <h2>Impressum</h2>
            <p>Daniel Schleindlsperger
              <br> Holzhäuser 5
              <br> 84367 Tann
              <br> E-Mail: daniel@schleindlsperger.de</p>
          </section>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="jumbotron">
          <section>
            <h2>Haftungshinweis</h2>
            <p>Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
          </section>
        </div>
      </div>
    </div>
</div>
<%- include footer.ejs %>
