@darkest: #003a21;
@dark: #0f5738;
@medium: #277554;
@light: #499273;
@lightest: #75af96;
body {
  font-family: Lato, Arial, sans-serif;
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  text-align: left;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.row {
  margin-bottom: 5rem;
}
.title {
  font-family: Oswald, 'Times New Roman', serif;
}
.share-title {
  text-align: center;
  font-size: 2rem;
}
.btn-default {
  background-color: @dark;
  color: #fff;
  &:hover {
    background-color: @light;
    color: #000;
  }
}
.scrap-title {
  h2 {
    font-size: 3.5rem;
  }
}
span {
  margin-right: 3rem;
}
.navbar {
  a {
    color: #000;
  }
}
